page-quotes {
    p.cardtxt
    {
       
    }



    .author
    {
        text-align: right;
        margin:0;
        padding: 0;
        text-transform: uppercase;
        color:#ccc;
        &:before
        {
            content:'- '
        }
    }
}
