<!--
  Generated template for the QuotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{quote.category | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let q of quote.quotes;index">
    <ion-card-header>
      #{{q.id}}
    </ion-card-header>
    <ion-card-content>
    <p class="cardtxt">{{q.text}}</p>
    <p class="author">{{q.person}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col  text-right>
         <button ion-button clear small *ngIf="!IsFavorite(q)" (click)="AddToFavorites(q)">Favorite</button>
         <button ion-button clear *ngIf="IsFavorite(q)" color="danger" small (click)="RemoveFromFavorite(q)">UnFavorite</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
