<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
      </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-label>Alternative Backgroun</ion-label>
    </ion-col> 
    <ion-col>
      <ion-toggle (ionChange)="onToggle($event)" [checked]="GetToggleValue()"></ion-toggle>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
