<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
      </ion-buttons>
    <ion-title text-center>Library</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h3>Select your favorite quote .</h3>
<ion-list>
  <button ion-item *ngFor="let quote of QuotesCollection"  [navPush]="quotes" [navParams]="quote" >
   <ion-icon name="{{quote.icon}}" item-left></ion-icon>
   <h3>{{ quote.category | uppercase }}</h3>
   <p>{{quote.quotes.length}} Quotes</p>
  </button>  
</ion-list>
</ion-content>
