<!--
  Generated template for the FavoritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
    </ion-buttons>

    <ion-title text-center>Favorite Quotes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item-sliding *ngFor="let item of FavoriteQuotes">
      <ion-item  (click)="OnViewQuote(item)" [color]="GetBackground()">
          <h2>{{item.person}}</h2>
          <p>{{item.text}}</p>
      </ion-item>
      <ion-item-options>
          <button ion-button color="danger" (click)="OnRemoveFromFavorite(item)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
  </ion-item-sliding>
   
</ion-list>
</ion-content>
